<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block estilo %} {% endblock %}
    {% block titulo %} {% endblock %}
    <style>
        .minha-classe-de-flash {
            background-color: rgb(39, 184, 233);
            margin: 2%;
            border-radius: 5px;
            color: white;
            padding: 15px;
            
        }
    </style>
</head>
<body>
    {% block conteudo %} {% endblock %}
    
</body>
</html>