{% extends "base.html" %}
<!-- Estilo da Pagina-->
{% block estilo %} 
<link rel="stylesheet" href="../static/criar.css">
{% endblock %}
<!-- Titulo da Pagina -->
{% block titulo %} 
<title>Criar Nota</title>
{% endblock %}
<!-- Conteudo da Pagina -->
{% block conteudo %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="minha-classe-de-flash">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <header>
        <div class="header">
            <h1>Criar Nota</h1>
        </div>
    </header>
    <main>
        <section class="criar-nota">
            <form action="/create" method="POST">
                <input class="titulo" name="titulo" id="titulo" type="text" placeholder="Digite o Titulo " required  >
                <textarea class="conteudo" name="conteudo" id="conteudo" placeholder="Digite o Conteudo" required ></textarea>
                <div class="botoes">
                    <input class="criar" type="submit" value="Criar">
                    <a  href="/"><p class="Voltar">Voltar</p></a>
                </div>
            </form>
        </section>
    </main>
{% endblock %}