{% extends "base.html" %}
<!-- Estilo da Pagina-->
{% block estilo %} 
<link rel="stylesheet" href="../static/deletar.css">
{% endblock %}
<!-- Titulo da Pagina -->
{% block titulo %} 
<title>Remover Nota</title>
{% endblock %}
<!-- Conteudo da Pagina -->
{% block conteudo %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="minha-classe-de-flash">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
<header class="header">
        <h1>Remover Nota</h1>   
</header>
<main>

    <section class="notas">
        {% for nota in notas_deletar: %}
        <div class="nota-remover">
            <p>{{ nota[1] }}</p>
            <a href="/remove/{{ nota[0] }}"><img src="{{ url_for('static', filename='imagem/remove_nota.png') }}" alt="Click para visualizar a nota."></a>
        </div>
        {% endfor %}
        <div class="voltar">
            <a href="/"> <p class="Voltar">Voltar</p></a>
        </div> 
    </section>
</main>
{% endblock %}