{% extends "base.html" %}
<!-- Estilo da Pagina-->
{% block estilo %} 
<link rel="stylesheet" href="../static/editar.css">
{% endblock %}
<!-- Titulo da Pagina -->
{% block titulo %} 
<title>Editar Nota</title>
{% endblock %}
<!-- Conteudo da Pagina -->
{% block conteudo %}
    <header>
        <div class="header">
            <h1>Editar Nota</h1>
        </div>
    </header>
    <main>
        <section class="criar-nota">
            <form action="" method="">
                <input class="titulo" type="text" placeholder="Digite o Titulo " required>
                <textarea class="conteudo" name="conteudo" id="conteudo" placeholder="Digite o Conteudo" required></textarea>
                <div class="botoes">
                    <input class="Salvar" type="submit" value="Salvar">
                    <a  href="/visualizar"> <p class="Voltar">Voltar</p></a>
                </div>
            </form>
        </section>
    </main>
{% endblock %}