{% extends "base.html" %}
<!-- Estilo da Pagina-->
{% block estilo %} 
<link rel="stylesheet" href="../static/visualizar.css">
{% endblock %}
<!-- Titulo da Pagina -->
{% block titulo %} 
<title>Visualizar Nota</title>
{% endblock %}
<!-- Conteudo da Pagina -->
{% block conteudo %}
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="minha-classe-de-flash">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% if nota %}
        <header>
            <h1>{{ nota[1]  }}</h1>
            <h4>{{ nota[3] }}</h4>
        </header>
        <section class="nota">
            <div  class="conteudo">
                <p>{{ nota[2] }}</p>
            </div>
        <div class="botao">
            <a href="/editar/{{ nota[0] }}"><p class="editar">Editar <img src="../static/imagem/editar_nota.png" alt="Editar nota"></p></a>
        {% endif %}
            <a href="/"> <p class="Voltar">Voltar</p></a>
        </div>
        </section>
    </main>
{% endblock %}