@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Palanquin+Dark&family=Work+Sans:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.header{
    display: flex;
    
    padding: 2%;
    margin: 3%;
    border-bottom: solid 2px #758173;

    font-weight: 700;
    color: #041B15;
}
.criar-nota form{
    display: flex;
    flex-direction: column;
    
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}
.titulo{
    padding: 3%;
    margin: 2%;

    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.20);
    font-size: 115%;
}
.conteudo{
    padding: 3% 3% 20% 3%;
    margin: 1% 2% 1% 2%;

    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.20);

    font-size: 115%;
}
.botoes{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;

    border-top: solid 1px #758173 ;
}
.criar{
    padding: 3%;
    margin: 2% 30%;

    border: none;
    border-radius: 5px;
    background-color: #DE1A1A;

    font-size: 100%;
    font-weight: 500;
    color: white;
}
.Voltar{
    text-align: center;
    padding: 3%;
    margin: 2% 35%;

    border-radius: 5px;
    background-color: #1A2EDE;

    font-size: 100%;
    font-weight: 500;
    color: white;
}
@media(min-width:600px){
    .titulo{
        padding: 3%;
        margin: 2% 10% 2% 10%;
    }
    .conteudo{
        padding: 3% 3% 20% 3%;
        margin: 2% 10% 2% 10%;
    }
    .botoes{
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media(min-width:900px){
    .titulo{
        padding: 3%;
        margin: 2% 20% 2% 20%;
    }
    .conteudo{
        padding: 3% 3% 20% 3%;
        margin: 2% 20% 2% 20%;
    }
    .botoes{
        margin-left: 30%;
        margin-right: 30%;
        font-size: 110%;
    }
}
