@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Palanquin+Dark&family=Work+Sans:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
  }

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 2%;
    margin: 3%;
    border-bottom: solid 2px #758173;

    font-weight: 700;
    color: #041B15;
}
.notas_selecionar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.20);

    font-weight: 600;
}

.deletar-nota a{
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 1%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    background-color:  #DE1A1A;

    font-weight: 400;
    color: white;
}
@media(min-width:400px){
    .deletar-nota a{
        margin-left: 32%;
        margin-right: 32%;
        font-weight: 500;
    }
}
@media(min-width:700px){
    .deletar-nota a{
        margin-left: 42%;
        margin-right: 42%;
        font-weight: 600;
    }
}
